# lists

In [4]:
# a built in data type that stores set of values

f=[94.1,87.5,90.4,67.2,80.5]
print(f)
print(type(f))
# iddex
print(f[1])
# length
print(len(f))

[94.1, 87.5, 90.4, 67.2, 80.5]
<class 'list'>
87.5
5

In [8]:
stud = ["karan",95.4,12,"Delhi"]
print(stud[0])# list are mutable
stud[0]="nandu"
print(stud)

karan
['nandu', 95.4, 'Delhi']

In [6]:
str = "hello"
print(str)

hello

In [10]:
# list slicing
a  =[2,3,4,5,6,7,8]
print(a[:4])

[2, 3, 4, 5]

In [12]:
# list method
l = [2,1,3]
l.append(4)
print(l)

[2, 1, 3, 4]

In [15]:
# list sort
a = [2,4,1,3,7,5]
a.sort()
print(a)
print(a.sort(reverse=True))

[1, 2, 3, 4, 5, 7]
None

In [14]:
# list reversed
a =[2,3,4,5,6,7]
a.reverse()
print(a)

[7, 6, 5, 4, 3, 2]

In [16]:
# list insert
a=[1,2,3,4,5]
a.insert(1,7)
print(a)

[1, 7, 2, 3, 4, 5]

In [17]:
# list remive
l = [1,2,3,4]
l.remove(2)
print(l)

[1, 3, 4]

In [18]:
# list pop
l=[1,2,3,4,5]
l.pop(2)
print(l)

[1, 2, 4, 5]

# tuple in python

In [3]:
# a built in data type that lets us create immutable sequence of values..
# justs like a string
l= (1,2,3,4)
print(type(l),l)
print(l[0])
print(l[3])

<class 'tuple'> (1, 2, 3, 4)
1
4

In [5]:
t =()
print(t)
print(type(t))

()
<class 'tuple'>

In [7]:
t=(1)
print(type(t))

<class 'tuple'>

In [8]:
s=(1,2,3,4,5)
print(s[1:3])

(2, 3)

# Methods

In [10]:
x=(1,2,3,4,2)
print(x.index(2))
print(x.count(2))

1
2

In [12]:
# WAP to ask the user to enter names of their 3 favorite movies and store them in a list.

movie=[]
x=input("enter Ist movie:")
y=input("enter 2nd movie:")
z=input("enter 3rd movie :")
movie.append(x)
movie.append(y)
movie.append(z)

print(movie)

enter Ist movie:aayu
enter 2nd movie:nandu
enter 3rd movie :pops
['aayu', 'nandu', 'pops']

In [13]:
# or diff way
m=[]
mov = input("enter name:")
m.append(mov)
mov=input("enter name:")
m.append(mov)
print(m)

enter name:aayu
enter name:nandu
['aayu', 'nandu']

In [16]:
# WAP to check if a list contain a palindrome of elements.(hint:use copy(method))
# l =[1,2,1]
l=["m","a","m"]
x=[1,2,3]
c = l.copy()
c.reverse()

if(c==l):
    print("palindrome")
else:
    print("not")

palindrome

In [19]:
# wap to count the number of student with the "A" grade in the following tuple
a=["c","D","A","A","B","B","A"]

print(a.count("A"))

3

In [22]:
# WAP to store the above values in a list and sort them from "A" to "D"
a=["C","D","A","A","B","B","A"]
a.sort()
print(a)

['A', 'A', 'A', 'B', 'B', 'C', 'D']